@import url("https://fonts.googleapis.com/css2?family=Bellefair&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background-image: url("../public/home/background-home-mobile.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
